header {
    background-color: $colore-sfondo-primo;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

img {
    height: 50px;
    display: inline;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}
